.iPhone div {
	/*width: 250px;*/
	height: 600px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	
	top: 50%;
	margin-top: -300px;
}

.iPhoneImg img{
	max-height: 100%;
}

.italic {
	font-style: italic;
}

#mainLogo {
	position: relative;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}

.iPhoneContents {
	color: white;
	width: 300px;;
}

.iPhoneContents i:hover {
	color: #E94052;
}

.fa {
	font-size: 24px;
}

.icons {
	/*width: 150px;*/
	color: magenta;
	display: flex;
	justify-content: space-between;
}