.iphone div {
	/*width: 250px;*/
	height: 600px;
	position: absolute;
	left: 50%;
	margin-left: -150px;

	top: 50%;
	margin-top: -300px;
}

.iphone-img img{
	max-height: 100%;
}

.italic {
	font-style: italic;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#main-logo {
	display: none;
	position: relative;
	margin: 0 auto;
	margin-top: 275px;
	text-align: center;
	font-size: 35px;
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

.main-logo {
	color: white;
	width: 300px;;
}

.iphone-contents i:hover {
	color: #E94052;
}

.fa {
	font-size: 100px;
}

.main-btns {
	width: 295px;
	display: flex;
	justify-content: space-around;
}

#start-btn, #stats-btn, #settings-btn{
	position: relative;
	margin-left: 0;
	left:0;
	margin-top: 460px;
	top: 0;
	font-size: 24px;
	text-align: center;
	color: #00AAFF;
	animation: fadeIn .5s ease-in 1 forwards;
}